.book-img
{
    margin-top: -50px !important;
    margin-left: 200px !important;
    height: 10% !important;
    width: 10% !important;
    background-color: red !important;   
    padding: 10px !important;
}
.bsucc{
   background-color: red !important;
   color: white !important;
   padding: 10px !important;
   border-radius: 10px !important;
}
.moleft 
{
    margin-left:100px !important ;
    margin-top: -50px !important;
}
.cardimmg{
    width: 250px !important;
    height: 250px !important;
    border-radius: 10px !important;
}
.poto
{
    width: 200px !important;
    border-radius: 20px !important;
    margin-left: 20px !important;
    height: 200px !important;
    margin-top: -60px !important;
}
.poto1
{
    width: 200px !important;
    border-radius: 20px !important;
}
.mainhead{
    color: black !important;
}
.navs{
    color: black !important;
}
.bookimg{
    width: 500px !important;
    border-left: 2px solid red !important;
    border-top: 2px solid white !important;
    border-right: 2px solid white !important;
    border-bottom: 2px solid white !important;
    opacity: 0.8 !important;
    z-index: 1 !important;
}
.mainhead div h1{
    font-weight: bolder !important;
    font-size: 65px !important;
    
}
.mainhead div p{
    margin-top: 15px !important;
    
}
.mainhead div  h1 span 
{
    color: red !important;
}
.signBtn{
    background-color: red !important;
    color: white !important;
    border-color: white !important;
}
.mainheadCont
{
    margin-top: 90px !important;
}
.world div h1{
    font-weight:bolder !important;
    color: black !important;
}
.world{
    margin-top: 30px !important;
}
.popular h1{
    font-weight:bold !important ;
    border-color: white !important;
}
.popular{
    margin-top: 40px !important;
}
.contact
{
    background-color: red !important;
    color: white !important;
    border-color: white !important;
}
.rotate
{
    transform: rotate(1deg) !important;
    background-color: rgba(255, 228, 196, 0.596) !important;
    padding: 10px;
}
.outside
{
    margin-right: 100px;
    margin-left: -50px;
    margin-top: 90px;
    padding: 20px;
    
}
.moveup
{
    margin-top: 200px;
    background-color: aqua;
    padding: 40px;
    width: fit-content;
    border-radius: 10px;
    position: relative !important;
    z-index: 1;
}
.subbtn
{
    background-color: black;
    color: white;
}
.moveup h3{
    font-weight: bold;
    color: black !important;
}
.darkt
{
    padding: 40px;
    color: white !important;
    z-index: 0;
    margin-top: -30px !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0.555) !important;
}
.hodl
{
    background-color: antiquewhite !important;
    padding: 10px !important;
    z-index: 1 !important;
}
.holdcont
{
   border-left: 20px solid red !important;
}
.back
{
    width: 100% !important;
    opacity: 0.8 !important;

}
.books
{
    width: 300px !important;
    height: 200px !important;
}
.aliC
{
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
}
@media only screen and (max-width: 600px) {
    .mainhead{
        display: flex;
        flex-direction: column;
    }
    .bookimg{
        width: 300px !important;
    }
    .book-img
    {
        margin-top: 10px !important;
        margin-left: -20px !important;
        height: 10% !important;
        width: 10% !important;
        background-color: red !important; 
        padding: 10px !important;

    }
    .mainheadCont
    {
        margin-top: 30px !important;
    }
    .rotate{
        display: flex;
        flex-direction: column;
    }
    .moveup{
        padding: 10px;
        font-size: smaller;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .moveup h1{
        font-size: smaller !important;
    }
    .world{
        display: flex;
        flex-direction: column;
    }
    .moleft{
        display: flex;
        flex-direction: column;
        margin-left:-10px!important ;
    }
    .bsucc{
        background-color: red !important;
        color: white !important;
        width: fit-content !important;
        border-radius: 10px !important;
        padding: 10px !important;
     }
    .poto{
        display: none !important;
    }
    .ddflex
    {
        display: flex !important;

        flex-direction: column !important;
    }
    .side
    {
        display: flex !important;
        flex-direction: column !important;
    }
}
