.book-img
{
    margin-top: -50px !important;
    margin-left: 200px !important;
    height: 100% !important;
    width: 50% !important;
    background-color: rgba(255, 0, 0, 0.644) !important;   
    padding: 20px !important;
}
.bsucc{
   background-color: red !important;
   color: white !important;
   padding: 10px !important;
   border-radius: 10px !important;
}
.moleft 
{
    margin-left:100px !important ;
    margin-top: -50px !important;
}
.cardimmg{
    width: 250px !important;
    height: 250px !important;
    border-radius: 10px !important;
}
.poto
{
    width: 200px !important;
    border-radius: 20px !important;
    margin-left: 20px !important;
    height: 200px !important;
    margin-top: -60px !important;
}
.poto1
{
    width: 200px !important;
    border-radius: 20px !important;
}
.mainhead{
    color: black !important;
}
.navs{
    color: black !important;
}
.bookimg{
    width: 500px !important;
    border-left: 2px solid red !important;
    border-top: 2px solid white !important;
    border-right: 2px solid white !important;
    border-bottom: 2px solid white !important;
    opacity: 0.8 !important;
    z-index: 1 !important;
}
.mainhead div h1{
    font-weight: bolder !important;
    font-size: 65px !important;
    
}
.mainhead div p{
    margin-top: 15px !important;
    
}
.mainhead div  h1 span 
{
    color: red !important;
}
.signBtn{
    background-color: red !important;
    color: white !important;
    border-color: white !important;
}
.mainheadCont
{
    margin-top: 90px !important;
}
.world div h1{
    font-weight:bolder !important;
    color: black !important;
}
.world{
    margin-top: 30px !important;
}
.popular h1{
    font-weight:bold !important ;
    border-color: white !important;
}
.popular{
    margin-top: 40px !important;
}
.contact
{
    background-color: red !important;
    color: white !important;
    border-color: white !important;
}
.wordbk
{
    word-spacing: 5px !important;
    word-break: break-all !important;
    color:  black !important;
    font-weight: bolder !important;
}
.moveup
{
    margin-top: 200px;
    background-color: aqua;
    padding: 40px;
    width: fit-content;
    border-radius: 10px;
    position: relative !important;
    z-index: 1;
}
.bookimge{
    width: 300px !important;
    border-radius: 10px !important;
    
}
.subbtn
{
    background-color: black;
    color: white;
}
.moveup h3{
    font-weight: bold;
    color: black !important;
}
.darkt
{
    padding: 40px;
    color: white !important;
    z-index: 0;
    margin-top: -30px !important;
    position: relative !important;
    background-color: black !important;
}
.navtext{
    font-weight: bold !important;
    color: black !important;
}
.navtext:hover
{
    color: red !important;
}
.hodl
{
    background-color: antiquewhite !important;
    padding: 10px !important;
    z-index: 1 !important;
}
.holdcont
{
   border-left: 20px solid red !important;
}
.back
{
    width: 100% !important;
    opacity: 0.8 !important;

}
.books
{
    width: 300px !important;
    height: 200px !important;
}
.aliC
{
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
}
.topbar
{
    background-color: white;
    width: 10%!important;
    height: 100vh !important;

    background-size: cover;
    z-index: 2;
}
.topbar ul{
    list-style: none;
    gap: 1rem;
    padding: 1rem;
}
.topbar ul li a {
    row-gap: 5;
    line-height: 3.8;
   font-weight: bold !important;
   text-decoration: none;
   color: black !important;
}

.topbar li:hover{
    background-color: rgba(0, 0, 0, 0.253) !important;
    text-align: center !important;
    height: 10% !important ; 
}
.topbar a:hover{
    margin-top: 5px !important;
}

.bookr
{
    background-color:rgba(0, 68, 255, 0.356) !important;
    width: 100%!important;
}
.bookr h5{
    font-weight: bolder !important;
}
.genres
{
    background-color: white !important;
    width: 100%;
    padding-top: 5px !important ;
    background-size: cover;
    height: 30vh;
}
.textxx{
    margin-left: 100px !important;
    margin-top: 10px !important;
}
.textxx :hover{
    color: red !important;
    cursor: pointer !important;
    background-color: rgba(255, 255, 255, 0.089) !important;
   
}
.genimg{
    width: 250px !important;
   
}
.genimg:hover{
    opacity: 0.7 !important;
    cursor: pointer !important;

}
.proimg
{
    width: 200px !important;
    height: 300px !important;
}
.pbook{
    font-weight: bold !important;
    color: black !important;
}
.titleform{
   
    width: 60% !important ; 
    background-size: cover !important ;
    margin: 1px solid black !important;
    margin-top: 50px !important;
    margin-left: 8cm !important;
    gap: 100px !important;
}
input
{
    width: 90% !important;
    border-color: none;
    height: 90% !important;
   
}
.addbnn{
    border: none !important;
    background-color: rgba(255, 174, 0, 0.884);
    padding: 10px !important;
    margin-top: 30px !important;
    border-radius: 5px;
    color: white !important;
}
.addbnn:hover{
    background-color: rgba(255, 0, 0, 0.575) !important;
}
.file1
{
   padding: 10px;
    border: none !important;
}
.file1 input{
    cursor: pointer !important;
}

.f1box
{
    background-color: rgba(0, 0, 255, 0.281) !important;
    background-size: cover;
    color: white !important;
    padding: 100px !important;
    margin-top: 10px !important;
}
.titleblock
{
    padding: 10px !important;
}
.titleblock:hover{
    border-color: rgba(0, 162, 255, 0.212) !important;
    cursor: pointer !important;
}
.econimage{
    width: 500px;
}
.loader-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}
.spinner{
    width: 64px;
    height: 64px;
    border: 5px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation:spin-anim 1.2s linear infinite;
}


.signBtn:hover{
background-color: black !important;
color: white !important;
}

.loginbtn:hover{
    background-color: black !important;
    color: white !important;
    }

.navbar
{
    display:none;
    visibility: hidden;
}

@keyframes spin-anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
    
}
@media only screen and (max-width: 600px) {
    .mainhead{
        display: flex;
        flex-direction: column;
    }
    .bookimg{
        width: 300px !important;
    }
    .book-img
    {
        margin-top: 10px !important;
        margin-left: -20px !important;
        height: 10% !important;
        width: 10% !important;
        background-color: red !important; 
        padding: 10px !important;

    }
    .mainheadCont
    {
        margin-top: 30px !important;
    }
    .rotate{
        display: flex;
        flex-direction: column;
    }
    .moveup{
        padding: 10px;
        font-size: smaller;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .moveup h1{
        font-size: smaller !important;
    }
    .world{
        display: flex;
        flex-direction: column;
    }
    .moleft{
        display: flex;
        flex-direction: column;
        margin-left:-10px!important ;
    }
    .bsucc{
        background-color: red !important;
        color: white !important;
        width: fit-content !important;
        border-radius: 10px !important;
        padding: 10px !important;
     }
    .poto{
        display: none !important;
    }
    .ddflex
    {
        display: flex !important;

        flex-direction: column !important;
    }
    .side
    {
        display: flex !important;
        flex-direction: column !important;
    }
    .textxx{
        font-size: xx-small !important;
        margin-left: 0px !important;
    }
    .disp
    {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
    }
    .econimage{
        width: 250px !important;
        margin-left: 50px;
    }
    .sidebarlist{
        display: none;
        visibility: hidden;
    }
    .dataIcon{
        display: block;
    }
    .holder
    {
        overflow: scroll !important; 
    }
    .sidebarContainer{
        display: none ;
    }
    .navbar
    {
        display:block;
        visibility: visible;
    }
}
