.NavItems {
    background-color: rgba(255, 255, 255, 0.534);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 9px 14px 18px -9px rgba(209, 209, 209, 0.28)

}
.nav-menus
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    color: rgb(37, 2, 2);
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: #5c10025d;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bar
{
    color: black;
}
.menu-icons{
    display: none;
}

@media screen and (max-width: 960px){
    .NavItems{
        position: relative;
    }
    .nav-menus{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        color: black;
    }

    .nav-menus.active{
        background: #363636bb;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #7577fa;
        border-radius: 0
    }

    .menu-icons{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 310px;
        margin-top: 40px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-time
    {
        color: black;
        font-size: 2rem;
        margin-top: -20px;
    }
    
    .fa-bar{
        margin-top: -20px;
    }
    
}
