.sidebarContainer
{
  width: 200px;  
  background-color: rgba(175, 174, 174, 0.514);
  padding: 10px;
  height: 100vh;
}
.sidebarlistcont
{
    list-style: none;
    
}
.sidebarlist{
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    padding: 10px 15px;
    transition: all 0.5s;
   
}
.sidebarlist:hover{
    background-color: rgba(82, 47, 47, 0.274);
    color: white;
    transition: all 0.5s;
    border-top: 2px solid rgba(24, 24, 211, 0.61);
}
.dataIcon
{
    font-size: 20px;
    margin-right: 10px;
    margin-top: -6px;
}
.left
{
    margin-left: 15px;
}
.bars{
    cursor: pointer;
}

